@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
body{
    text-align: center;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}
h1 {
    width: 100%;
    color: rgb(255, 123, 8);
    padding-top: 20px;
    margin-bottom: 10px;
}

h3{
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome_container {
    width: 70%;
    border-radius: 20px;
    background-color: white;
    margin: 20px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin: 10px 0;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 130%;
}

.progress_bar {
    height: 5px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}
.progress_done {
    background-color: orange;
    height: 5px;
    border-radius: 3px 0px 0px 3px;
    width: 5%;
    margin: 0 !important;

}
.progress_up {
    border-radius: 0px 3px 3px 0px;
    background-color: rgb(201, 201, 201);
    height: 5px;
    width: 95%;
    margin: 0 !important;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#formfield_container {
    width: 80%;
    border-radius: 20px;
    background-color: white;
    margin: 20px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    width: 100%;
    height: 40px;
    margin: 5px 0px 10px;
    border-radius: 10px;
    border: grey solid 2px;
    padding: 0px 5px;
    font-size: 15px;
}
.input-container {
    padding: 10px;
    text-align: left;
    width: 80%;
}
select {
    width: 100%;
    height: 40px;
    margin: 5px 0px 10px;
    border-radius: 10px;
    border: grey solid 2px;
    padding: 0px 5px;
    font-size: 15px;
}
.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 120px;
    height: 50px;
    margin: 10px 10px 30px;
    border: none;
    border-radius:25px;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: orange;
    color: white;
}
button:hover {
    background-color: rgb(229, 149, 0); 
}

select div {
    width: 100%;
}
.error {
    border: red solid 2px !important;
}
.error:focus{
    outline: none !important;
    border-color: red !important;
}

.invisible, .invisible * {
    opacity: 0 !important;
    width: 0px !important;
    height: 0px !important;
    margin: 0 !important;
    padding: 0 !important;
    z-index: -1 !important;
    border: none !important;
    font-size: 0;
}

.checkbox {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.checkbox div {
    display: flex;
    align-items: center;
    margin-right: 10px;
}



.checkbox input {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid grey;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
}

.checkbox input:checked {
    background-color: orange;
    border: 2px solid rgb(192, 191, 191);

}

